:root {
    font-family: sans-serif;
    --color-link: #0085ff;
    --color-gradient-top:#FF4F4F;
    --color-gradient-botom:#FF7D1B;
    --color-white:#FFF;
    --color-black:#0004;
    
}

body {
    margin: 0;
    
}

.profile__avatar {
    width: 150px;
    height: 150px%;
    border-radius: 50%;
    border: 5px solid #FFF;
    box-shadow: 0 4px 4px #0004;
}

.header {
    height: 50vh;
    background: linear-gradient(to right bottom,var(--color-gradient-top),var(--color-gradient-botom));
    color:var(--color-white);
    display: grid;
    place-items: center;
    box-shadow: 0 4px 4px #0004;
    text-align: center;
    grid-auto-flow: column;
}

.header h1 {
    margin: 0;
    text-shadow: 0 4px 4px var(--color-black);
    width: 15ch;

}

.profile p {
    margin: 32px auto;
    max-width: 100ch;
    font-style: italic;
    font-size: large;

}

.profile {
    position: relative;
    top: -75px;
    text-align: center;
}

.profile__social,
.footer__social{
    display:grid;
    grid-auto-flow: column;
    gap: 16px;
    margin:0 auto;
    padding:0;
    width: fit-content;
    list-style: none;
    color: var(--color-link);
    
}
.linha{
    width: 30vw;
    
}

.profile__2{
    display: grid;
    

    

}
.profile__2_p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    color:#5F6871;
}

h2{
    font-family: Arial, Helvetica, sans-serif
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    
}

.profile2__skills {
    align-content:center ;
    display: inline-flex;
    list-style: none;
    justify-content: center;
    margin-bottom:10px:

  
    
}
.profile2__skills img{
    width: 100px;
    height: 100px;
    padding: 30px
 }


.footer{
    box-sizing: border-box;
    background:#000;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100vw;
    display:grid;
    grid-template-columns:auto auto;
    align-items: center;
    padding: 16px;
}
.footer__social{
    justify-self: end;
    margin: 20px;
}  
@media (max-width: 768px){
    .profile2__skills  {
        display: flex;
        flex-wrap: wrap;
    

    }

}
    


